{
                "type": "Contributor",
                "correspondingAuthor": false,
                "identity": {
                  "type": "Identity",
                  "name": "__AUTHOR__"
                },
                "role": {
                  "type": "Creator"
                }
              }